/* table { 
    width: 100%; 
    border-collapse: collapse; 
  } */

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  
    table, thead, tbody, th, td, tr {
		display: block; 
	}
	
.up-row {
    text-align: center;
}